annotated-types==0.7.0
contourpy==1.3.1
cycler==0.12.1
fonttools==4.55.0
kiwisolver==1.4.7
matplotlib==3.9.2
numpy==2.1.3
opencv-python==4.10.0.84
packaging==24.2
pillow==11.0.0
pydantic==2.10.2
pydantic_core==2.27.1
pyparsing==3.2.0
pypcd4==1.1.0
python-dateutil==2.9.0.post0
python-lzf==0.2.6
scipy==1.14.1
six==1.16.0
typing_extensions==4.12.2
